SDM-V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 (http://www.altova.com) by mazuki (darksiderg) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="super-duper-market-descriptor">
		<xs:complexType>
			<xs:all>
				<xs:element ref="SDM-items"/>
				<xs:element ref="SDM-stores"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="purchase-category">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Quantity"/>
				<xs:enumeration value="Weight"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="name" type="xs:string"/>
	<xs:element name="location">
		<xs:complexType>
			<xs:attribute name="y" type="xs:int" use="required"/>
			<xs:attribute name="x" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="delivery-ppk" type="xs:int"/>
	<xs:element name="SDM-stores">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SDM-store" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SDM-store">
		<xs:complexType>
			<xs:all>
				<xs:element ref="name"/>
				<xs:element ref="delivery-ppk"/>
				<xs:element ref="location"/>
				<xs:element ref="SDM-prices"/>
			</xs:all>
			<xs:attribute name="id" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SDM-sell">
		<xs:complexType>
			<xs:attribute name="price" type="xs:int" use="required"/>
			<xs:attribute name="item-id" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SDM-prices">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SDM-sell" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SDM-items">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SDM-item" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SDM-item">
		<xs:complexType>
			<xs:all>
				<xs:element ref="name"/>
				<xs:element ref="purchase-category"/>
			</xs:all>
			<xs:attribute name="id" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
