Desktop/Engine/src/SDM-V2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 (http://www.altova.com) by mazuki (darksiderg) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="then-you-get">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SDM-offer" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="operator" default="IRRELEVANT">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ONE-OF"/>
						<xs:enumeration value="ALL-OR-NOTHING"/>
						<xs:enumeration value="IRRELEVANT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="super-duper-market-descriptor">
		<xs:complexType>
			<xs:all>
				<xs:element ref="SDM-items"/>
				<xs:element ref="SDM-stores"/>
				<xs:element ref="SDM-customers"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="purchase-category">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Quantity"/>
				<xs:enumeration value="Weight"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="name" type="xs:string"/>
	<xs:element name="location">
		<xs:complexType>
			<xs:attribute name="y" type="xs:int" use="required"/>
			<xs:attribute name="x" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="if-you-buy">
		<xs:complexType>
			<xs:attribute name="quantity" type="xs:double" use="required"/>
			<xs:attribute name="item-id" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="delivery-ppk" type="xs:int"/>
	<xs:element name="SDM-stores">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SDM-store" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SDM-store">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="delivery-ppk"/>
				<xs:element ref="location"/>
				<xs:element ref="SDM-prices"/>
				<xs:element ref="SDM-discounts" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SDM-sell">
		<xs:complexType>
			<xs:attribute name="price" type="xs:int" use="required"/>
			<xs:attribute name="item-id" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SDM-prices">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SDM-sell" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SDM-offer">
		<xs:complexType>
			<xs:attribute name="quantity" type="xs:double" use="required"/>
			<xs:attribute name="item-id" type="xs:int" use="required"/>
			<xs:attribute name="for-additional" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SDM-items">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SDM-item" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SDM-item">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="purchase-category"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SDM-discounts">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SDM-discount" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SDM-discount">
		<xs:complexType>
			<xs:all>
				<xs:element ref="name"/>
				<xs:element ref="if-you-buy"/>
				<xs:element ref="then-you-get"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="SDM-customers">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SDM-customer" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SDM-customer">
		<xs:complexType>
			<xs:all>
				<xs:element ref="name"/>
				<xs:element ref="location"/>
			</xs:all>
			<xs:attribute name="id" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
